<StackLayout Orientation="XF.StackOrientation.Horizontal" HorizontalOptions="XF.LayoutOptions.Fill" StyleClass="navigator-stack">
    <Button OnClick="@(() => OnNavigationClickCallback.InvokeAsync(Homepage.AvailableViews.Services))" 
            HorizontalOptions="XF.LayoutOptions.FillAndExpand" 
            StyleClass="navigator-stack__button">Services
    </Button>
    <Button OnClick="@(() => OnNavigationClickCallback.InvokeAsync(Homepage.AvailableViews.History))" 
            HorizontalOptions="XF.LayoutOptions.FillAndExpand" 
            StyleClass="navigator-stack__button">History
    </Button>
</StackLayout>

@code {
    
    [Parameter]
    public EventCallback<Homepage.AvailableViews> OnNavigationClickCallback { get; set; }

}