@using ServiceHealthChecker.Components.Services;
@using ServiceHealthChecker.Components.History;
@using ServiceHealthChecker.Components.Navigator;
<ScrollView>
    <StackLayout>
        <Navigator OnNavigationClickCallback="@setView" />
        @switch (_currView)
        {
            case Homepage.AvailableViews.Validators:
                <Label Text="Validators"></Label>
                break;
            case AvailableViews.Services:
                <ServicesView />
                break;
            case AvailableViews.History:
                <HistoryView />
                break;

        }
    </StackLayout>
</ScrollView>






@code {
    public enum AvailableViews
    {
        Validators,
        Services,
        History
    }

    private AvailableViews _currView = AvailableViews.Services;

    private void setView(AvailableViews newView)
    {
        _currView = newView;
    }

}